<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.eti.fml.android.sigame"
          android:versionCode="1"
          android:versionName="0.1 beta"
          android:installLocation="auto">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" /> <!-- 7 = 2.1, 10 = 2.3.3 and 2.3.4 -->

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:debuggable="false"
            android:description="@string/description"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >

        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MapActivity"/>
        <service android:name=".services.UpdatingPositionService" />

        <receiver android:name="br.eti.fml.android.sigame.receivers.CustomReceiver" android:exported="true">
            <intent-filter android:priority="999999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="br.eti.fml.android.sigame.SMS_SENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="br.eti.fml.android.sigame.ARRIVED"/>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>
